* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fddcb3;
}

h1,
h2 {
  color: #85133a;
  text-align: center;
  margin-top: 15px;
}

h1 {
  font-size: 40px;
}

#griglia {
  width: 500px;
  height: 500px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

#griglia.game-over {
  pointer-events: none;
}

p,
#conteggi {
  color: #85133a;
  font-size: 30px;
  text-align: center;
  padding: 10px;
}

button {
  padding: 10px;
  border-radius: 30%;
  text-decoration: none;
  margin: 10px auto;
  background-color: #85133a;
  color: white;
  display: flex;
  justify-content: center;
}

.cella {
  background-color: #85133a;
  text-align: center;
  border: 1px solid white;
  color: white;
}

.cella.easy {
  width: calc(100% / 10);
  height: calc(100% / 10);
  line-height: 50px;
  vertical-align: center;
}

.cella.medium {
  width: calc(100% / 9);
  height: calc(100% / 9);
  line-height: 60px;
  vertical-align: center;
}

.cella.hard {
  width: calc(100% / 7);
  height: calc(100% / 7);
  line-height: 70px;
  vertical-align: center;
}

.bg-azzurro {
  background-color: blue;
}

.bg-red {
  background-color: #e50548;
}

.cella.clicked {
  pointer-events: none;
}

button:hover {
  background: #e50548;
}

button:active {
  background: #e50548;
  box-shadow: 0 3px rgb(33, 147, 90);
}
